<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta charset="ISO-8859-1">
<title>Login</title>

<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{webjars/font-awesome/5.11.2/css/all.css} " />
</head>
<body>
	<div class="container">
		<h1 style="text-align: center; color: #b30000; font-weight: bold;">従業員登録</h1>
		<div class="row">
			<div class="col-md-6">
				<img src="images/thank.jpg" class="img-responsive">
			</div>
			<div class="col-md-6">
				<div th:if="${employee != null}">

					<div>
						<h3>名前</h3>
						<ul>
							<li th:text="${employee.name}"></li>
						</ul>
					</div>
					<div>
						<h3>年齢</h3>
						<ul>
							<li th:text="${employee.age}"></li>
						</ul>
					</div>
					<div>
						<h3>部署</h3>
						<ul>
							<li th:text="${employee.work_place}"></li>
						</ul>

					</div>
					<div>
						<h3>性別</h3>
						<ul>
							<li th:text="${employee.gender}"></li>
						</ul>
					</div>
					<div>
						<h3>入社年月日</h3>
						<ul>
							<li th:text="${#dates.format(employee.entry_date, 'yyyy-MM-dd')}"></li>
						</ul>
					</div>
					<div>
						<h3>退社年月日</h3>
						<ul>
							<li th:text="${#dates.format(employee.leave_date, 'yyyy-MM-dd')}"></li>
						</ul>
					</div>


				</div>

				<a th:href="@{/}">Back</a>
			</div>
		</div>


	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>