<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta charset="ISO-8859-1">
<title>Login</title>
<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{webjars/font-awesome/5.11.2/css/all.css} " />
</head>
<body>
	<div class="container">
		<h1 style="text-align: center; color: #b30000; font-weight: bold;">確認画面</h1>
		<div class="row">
			<div class="col-md-6">
				<img src="images/thankyou.jpg" class="img-fluid">

			</div>
			<div class="col-md-6">
				<div class="jumbotron">
					<h3>そのデータを保存してもよろしいですか？</h3>
					<p style="color: red;">それなら、以下の登録ボタンをクリックしてください！</p>
					<form th:action="@{/save}" method="post">
						<input type="hidden" th:field="*{employee.name}"> 
						<input type="hidden" th:field="*{employee.age}"> 
						<input type="hidden" th:field="*{employee.department}"> 
						<input type="hidden" th:field="*{employee.gender}"> 
						<input type="hidden" th:field="*{employee.entryDate}">
						<input type="hidden" th:field="*{employee.leaveDate}"> 
						<a th:href="@{/back}">戻る</a> 
						<input type="submit" value="登録">
					</form>
				</div>


			</div>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>